<a href="https://colab.research.google.com/github/mmahi-2005/MANVITHA/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA FRAME:
 DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns) designed for data manipulation and analysis. In Python, the most commonly used library for working with DataFrames is pandas. Below, I'll provide an overview.

In [ ]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'Name': ['prabha', 'sravs', 'jaanu'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age           City
0  prabha   25       New York
1   sravs   30  San Francisco
2   jaanu   35    Los Angeles

ACCESSING ELEMENTS:
In a data frame, you can access elements by specifying the row and column indices or labels. In Python's Pandas library, for example, you can use the .loc[] or .iloc[] access.

With iloc, you use integer positions to access elements (0-based indexing), while with loc, you use row and column labels.
You can also use slices and lists with iloc and loc to access multiple elements or rows/columns at once.
Both iloc and loc can be used with Series in a similar way.

loc (Integer Location):

iloc is used to select elements by their integer position in the DataFrame or Series.
Example:

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Access the element in the first row and first column (zero-based indexing)
element = df.iloc[0, 0]
print(element)

1

loc (Label Location):

loc is used to select elements by their row and column labels.
Example:

In [ ]:
import pandas as pd

# Create a DataFrame with custom row labels
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])

# Access the element in the row labeled 'row1' and column labeled 'A'
element = df.loc['row1', 'A']
print(element)

1

MERGE:
In Python, you can merge DataFrames in Pandas using various merge operations such as "left", "right", "inner", and "outer". These operations help combine data from multiple DataFrames based on common columns.

1.inner

2.outer

3.right

4.left

Inner Merge :

An inner merge returns only the rows where the keys are common in both DataFrames

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

merged_inner = pd.merge(df1, df2, on='key', how='inner')
print(merged_inner)

  key  value_x  value_y
0   B        2        5
1   D        4        6

Outer Merge :

An outer merge returns all rows when there is a match in either the left or right DataFrame.

In [ ]:
merged_outer = pd.merge(df1, df2, on='key', how='outer')
print(merged_outer)

  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      5.0
2   C      3.0      NaN
3   D      4.0      6.0
4   E      NaN      7.0
5   F      NaN      8.0

Right Merge :

A right merge returns all rows from the right DataFrame and the matched rows from the left DataFrame.

In [ ]:
merged_right = pd.merge(df1, df2, on='key', how='right')
print(merged_right)

  key  value_x  value_y
0   B      2.0        5
1   D      4.0        6
2   E      NaN        7
3   F      NaN        8

Left Merge (how='left'):

A left merge returns all rows from the left DataFrame and the matched rows from the right DataFrame.

In [ ]:
merged_left = pd.merge(df1, df2, on='key', how='left')
print(merged_left)

  key  value_x  value_y
0   A        1      NaN
1   B        2      5.0
2   C        3      NaN
3   D        4      6.0

MISSING VALUES:
1.Is null/Not null

2.fillna

3.dropna

4.groupby

1.Isnull / Not null:
These are conditions used to check whether a particular value in a dataset is missing (null) or not. For example, you can use "column_name IS NULL" to identify rows where the value in "column_name" is missing.

In [ ]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan, 4],
        'B': [np.nan, 2, 3, 4]}
df = pd.DataFrame(data)

print(df.isnull())
print(df.notnull())

       A      B
0  False   True
1  False  False
2   True  False
3  False  False
       A      B
0   True  False
1   True   True
2  False   True
3   True   True

2.fillna:
This is a method used to fill in missing values in a dataset with a specified value. For example, you can use "df['column_name'].fillna(value)" to replace missing values in the 'column_name' column with the given value.

In [ ]:
filled_df = df.fillna(0)
mean_filled_df = df.fillna(df.mean())

print(filled_df)
print(mean_filled_df)

     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0
3  4.0  4.0
          A    B
0  1.000000  3.0
1  2.000000  2.0
2  2.333333  3.0
3  4.000000  4.0

groupby(): You can use the groupby method in combination with aggregation functions to summarize data while handling missing values within groups.
Example:

In [ ]:
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [1, np.nan, 3, 4, np.nan]}
df = pd.DataFrame(data)

# Calculate the mean of 'Value' within each 'Category', handling missing values
result = df.groupby('Category')['Value'].mean()

print(result)

Category
A    2.0
B    4.0
Name: Value, dtype: float64

Dropping Missing Values (dropna):

To remove rows with missing values, you can use the dropna() method.

In [ ]:
import pandas as pd

# Create a DataFrame with missing values
data = {'A': [1, 2, None, 4],
        'B': [5, None, 7, 8]}
df = pd.DataFrame(data)

# Drop rows with at least 2 missing values
df.dropna(thresh=2, inplace=True)

print(df)

     A    B
0  1.0  5.0
3  4.0  8.0